= simple_form_for expression, :html => {:class => 'form-horizontal' } do |f|
  = f.input :body,    :input_html => { :rows => 4 }
  = f.input :meaning, :input_html => { :rows => 4 }
  = f.button :submit
