//= require_self
//= require_tree .

// @import compass
@import compass_twitter_bootstrap_awesome

/* CLASSES */
.default-margin-bottom
  margin-bottom: 20px

/* STYLING */
h1, h2, h3, h4, h5, h6
  @extend .default-margin-bottom

.menus
  @extend .container-fluid

div.page
  @extend .container-fluid
  margin-top: 60px

  .menu ul
    @extend .unstyled

  ul.expressions
    @extend .unstyled
    @extend .default-margin-bottom
    $col: #ddd
    border-top: 1px solid $col
    li
      border-bottom: 1px solid $col
      padding: 10px 0
      &.more
        border-bottom: 0
.alert-notice
  @extend .alert-info

$shadow: -2px 2px 5px #aaa
.btn, .navbar
  +bootstrap-box-shadow($shadow)