//= require_self
//= require_tree .

//@import compass
@import compass_twitter_bootstrap_awesome

/* CLASSES */
.default-margin-bottom
  margin-bottom: 20px
.faded
  color: #999999

/* STYLING */
h1, h2, h3, h4, h5, h6
  @extend .default-margin-bottom

.menus
  @extend .container-fluid

div.page
  @extend .container-fluid
  margin-top: 60px
  div.main
    overflow: hidden
    padding-right: 10px

  .menu ul
    @extend .unstyled

  ul.expressions
    @extend .unstyled

.alert-notice
  @extend .alert-info

.btn, .navbar
  $shadow: -2px 2px 5px #aaa
  +bootstrap-box-shadow($shadow)

.page_entries_info
  @extend .faded
